.blog-section {
  // background-color: rgba(#7851a9, 0.1);
  background: rgb(255, 255, 255);
  background-image: linear-gradient(to right bottom, #ffffff, #d9d3ec, #cfc3e9);

  .cards-container {
    .post-card {
      position: relative;
      border-radius: 15px;
      transform: scale(1);
      transition: 0.2s ease-in-out;
      overflow: hidden;

      &:hover {
        transform: scale(1.05);
      }

      .card-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: -100;
        }

        .post-title {
          font-size: 2.5rem;
        }
      }
    }
  }
}
