@import "../../style/breakpoints";

.about {
  position: relative;

  .bg-color {
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 80%;
    width: calc(100% - 150px);
    background-color: rgba(0, 0, 0, 0.1);
  }

  .title {
    @include xl-size() {
      font-size: 2rem !important;
    }
  }

  .description {
    font-size: 1.5rem;

    @include xl-size() {
      font-size: 1.2rem;
    }

    @include lg-size() {
      font-size: 1.1rem;
    }
  }
}
