@import "../../style/breakpoints";
@import "../../style/variables";

$banner_bg_color: rgba($secondary_color, 0.1); //rgba(99, 99, 99, 0.16)
$read_more_border_color: $secondary_color;

.header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .banner {
    position: relative;
    padding: 0 25px;
    flex-grow: 1;

    .small-screen-title {
      padding: 40px 40px 0 0;
      margin-left: 15px;
      display: none;

      @include md-size() {
        display: block;
        opacity: 1;
      }

      @include sm-size() {
        margin-left: 0;
        padding-top: 20px;
      }

      h1 {
        font-size: 2rem;

        @include xs-size() {
          font-size: 1.6rem;
        }
      }

      div {
        display: none;
        opacity: 0;
        margin-top: 12px;
        @include md-size() {
          opacity: 1;
          display: block;
        }

        @include sm-size() {
          opacity: 0;
          display: none;
        }
      }
    }

    .banner-bg-color {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 80%;
      width: calc(100% - 90px);
      padding: 0px 60px;
      background-color: $banner_bg_color;

      @include xl-size() {
        height: 70%;
      }

      @include lg-size() {
        height: 65%;
        padding: 0px 20px;
        width: calc(100% - 60px);
      }

      @include sm-size() {
        width: calc(100% - 40px);
      }

      .title {
        font-size: 4rem;
        transform: translateY(-2.8rem);
        color: $secondary_color;

        @include xl-size() {
          font-size: 3.2rem;
          transform: translateY(-2.2rem);
        }

        @include lg-size() {
          font-size: 2.3rem;
          transform: translateY(-1.7rem);
        }

        @include md-size() {
          opacity: 0;
        }
      }

      .description {
        display: block;
        font-size: 35px;
        font-weight: 300;
        line-height: 3.8rem;
        margin-top: 3.2rem;

        @include xl-size() {
          font-size: 25px;
          line-height: 3rem;
          margin-top: 2.6rem;
        }

        @include lg-size() {
          font-size: 22px;
          line-height: 2rem;
          margin-top: 2rem;
        }

        @include md-size() {
          display: none;
        }
      }

      .read-more-des {
        margin-top: 60px;

        @include lg-size() {
          font-size: 0.85rem;
        }

        @include md-size() {
          opacity: 0;
        }

        @include sm-size() {
          opacity: 1;
          font-size: 1.1rem;
          text-transform: capitalize;
          margin-top: 0;
          position: absolute;
          top: -15px;
          right: 20px;
        }
      }

      .read-more-btn {
        display: inline-block;
        position: relative;

        @include md-size() {
          opacity: 0;
        }

        @include sm-size() {
          opacity: 1;
          margin-top: 0;
          position: absolute;
          top: 15px;
          right: 15px;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          height: 2px;
          width: calc(100% + 15px);
          background-color: $read_more_border_color;

          @include xl-size() {
            height: 1.5px;
          }

          @include sm-size() {
            height: 1px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: calc(100% + 18px);
          width: 2px;
          background-color: $read_more_border_color;

          @include xl-size() {
            width: 1.5px;
          }

          @include sm-size() {
            width: 1px;
          }
        }

        .btn-model {
          font-size: 1.2rem;
          padding: 15px 45px 15px 30px;

          @include xl-size() {
            font-size: 1.1rem;
          }

          @include lg-size() {
            font-size: 1rem;
          }

          @include md-size() {
            padding: 8px 15px;
            font-size: 1rem;
          }
        }
      }
    }

    .banner-image {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;

      @include xl-size() {
        height: 86%;
      }
    }
  }
}
