$secondary_color: #1e56a0;
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(#ffffff, 0.06);
}

h1 {
  color: rgb(112, 112, 112);
}

input {
  &:focus {
    outline: 0;
  }
}

.t-secondary {
  color: #7851a9;
}

.bg-secondary {
  background-color: #7851a9;
}

.section-paddings {
  &.py1 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &.py2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &.py3 {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &.px1 {
    padding-right: 80px;
    padding-left: 80px;
  }

  &.px2 {
    padding-right: 100px;
    padding-left: 100px;
  }

  &.px3 {
    padding-right: 120px;
    padding-left: 120px;
  }

  &.px3 {
    padding-right: 120px;
    padding-left: 120px;
  }
}

.margins {
  &.mb1 {
    margin-bottom: 30px;
  }
  &.mb1-sm {
    @include b-sm-size() {
      margin-bottom: 30px;
    }
  }
  &.mb1-md {
    @include b-md-size() {
      margin-bottom: 30px;
    }
  }
  &.mb1-lg {
    @include b-lg-size() {
      margin-bottom: 30px;
    }
  }
  &.mb1-xl {
    @include b-xl-size() {
      margin-bottom: 30px;
    }
  }

  &.mb2 {
    margin-bottom: 50px;
  }
  &.mb2-sm {
    @include b-sm-size() {
      margin-bottom: 50px;
    }
  }
  &.mb2-md {
    @include b-md-size() {
      margin-bottom: 50px;
    }
  }
  &.mb2-lg {
    @include b-lg-size() {
      margin-bottom: 50px;
    }
  }
  &.mb2-xl {
    @include b-xl-size() {
      margin-bottom: 50px;
    }
  }

  &.mb3 {
    margin-bottom: 70px;
  }
  &.mb3-sm {
    @include b-sm-size() {
      margin-bottom: 70px;
    }
  }
  &.mb3-md {
    @include b-md-size() {
      margin-bottom: 70px;
    }
  }
  &.mb3-lg {
    @include b-lg-size() {
      margin-bottom: 70px;
    }
  }
  &.mb3-xl {
    @include b-xl-size() {
      margin-bottom: 70px;
    }
  }

  &.mb4 {
    margin-bottom: 100px;
  }
  &.mb4-sm {
    @include b-sm-size() {
      margin-bottom: 100px;
    }
  }
  &.mb4-md {
    @include b-md-size() {
      margin-bottom: 100px;
    }
  }
  &.mb4-lg {
    @include b-lg-size() {
      margin-bottom: 100px;
    }
  }
  &.mb4-xl {
    @include b-xl-size() {
      margin-bottom: 100px;
    }
  }

  &.mt1 {
    margin-top: 30px;
  }
  &.mt2 {
    margin-top: 50px;
  }
  &.mt3 {
    margin-top: 70px;
  }
  &.mt4 {
    margin-top: 100px;
  }
}

.btn-model {
  padding: 10px 18px;
  display: inline-block;
  font-size: 1rem;
  border: none;

  &:hover {
    text-decoration: none;
  }

  &.no-bg {
    background-color: transparent;
  }
}

.link-model {
  padding: 0;
  font-size: 1rem;
  border: none;

  &:hover {
    text-decoration: none;
  }

  &.blue-color {
    color: rgb(0, 98, 255);
  }

  &.underline {
    text-decoration: underline;
  }

  &.no-bg {
    background-color: transparent;
  }

  &.p-1 {
    padding: 5px 8px;
  }
}

.section-title {
  font-size: 3.5rem;
  font-weight: 300;

  @include md-size() {
    font-size: 3.5rem;
  }

  @include sm-size() {
    font-size: 2.5rem;
  }
}

.cover-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.dark-cover {
    z-index: 0;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: -100;
    }
  }
}
