* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: rgb(112, 112, 112);
}

input {
  &:focus {
    outline: 0;
  }
}

.btn-model {
  padding: 10px 18px;
  display: inline-block;
  font-size: 1rem;
  border: none;

  &:hover {
    text-decoration: none;
  }

  &.no-bg {
    background-color: transparent;
  }
}

.link-model {
  padding: 0;
  font-size: 1rem;
  border: none;

  &:hover {
    text-decoration: none;
  }

  &.blue-color {
    color: rgb(0, 98, 255);
  }

  &.underline {
    text-decoration: underline;
  }

  &.no-bg {
    background-color: transparent;
  }

  &.p-1 {
    padding: 5px 8px;
  }
}
