.footer {
  background-color: rgba(0, 0, 0, 0.03);
  .middle-column {
    .logo-container {
      div {
        img {
          max-width: 50px;
        }
      }

      .company-name {
        font-size: 1.5rem;
        max-width: 70px;
        color: rgba(0, 0, 0, 0.6);
        line-height: 28px;
        font-weight: 500;
      }
    }

    .copyright {
    }
  }

  .right-column {
    .social-media-icons {
      a {
        img {
          width: 28px;
          transform: scale(1);
          transition: 0.2s ease-in-out;
        }

        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
